<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Matt Sephton</string>
	<key>Builder Version</key>
	<string>8536.29.13</string>
	<key>CFBundleDisplayName</key>
	<string>Flickr Links</string>
	<key>CFBundleIdentifier</key>
	<string>com.gingerbeardman.safari.flickrlinks</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.12</string>
	<key>CFBundleVersion</key>
	<string>1.12</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>flickrlinks.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>flickrLinks.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Display Image URL and Short URL links on the new Flickr photo page</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.flickr.com</string>
				<string>flickr.com</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://www.gingerbeardman.com/safari/update.xml</string>
	<key>Website</key>
	<string>http://www.gingerbeardman.com/safari/</string>
</dict>
</plist>
